﻿@model IEnumerable<liblib.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Books to book:</h1>


<table class="table">
    <thead>
        <tr>
            <th>
              Name
            </th>
            <th>
              Publisher
            </th>
            <th>
              Author
            </th>
            <th>
              Quantity
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                <a href="/home/reserve?id=@item.Id">Book</a> 
            </td>
        </tr>
}
    </tbody>
</table>
