﻿@model IEnumerable<liblib.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Orders:</h1>


<table class="table">
    <thead>
        <tr>
            <th scope="col">User</th>
            <th scope="col">Book</th>
            <th scope="col">Order created</th>
            <th scope="col">Book is given</th>
            <th scope="col">Book to return</th>
            <th scope="col">Book returned</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <th scope="row">@item.User.Email</th>
            <th>@item.Book.Name</th>
            <td>@item.DateBookingCreated </td>
            <td>@item.DateBookIsGiven</td>
            <td>@item.DateBookToReturn</td>
            <td>@item.DateBookReturned</td>
            <td><a class="btn btn-primary" href="/orders/GiveOut?id=@item.Id" role="button">Give out</a></td>
            <td><a class="btn btn-primary" href="/orders/TakeBack?id=@item.Id" role="button">Take back</a></td>
            <td><a class="btn btn-primary" href="/orders/SendMessage?id=@item.Id" role="button">Remind</a></td>
        </tr>
                }
    </tbody>
</table>