﻿@model IEnumerable<liblib.Models.Book>

@*@{
//ViewData["Title"] = "Index";
}*@

<h1>Book List</h1>
<form asp-controller="Book" asp-action="Index">
    <p>
        Title: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<div class="container">
    <div class="row">        
        @foreach (var item in Model)
        {
            <div class="column">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h4 class="card-title">@item.Name</h4>
                        <p class="card-text">Автор: @item.Author</p>
                        <p>Издательство: @item.Publisher</p>
                        <p>Количество: @item.Quantity</p>
                        <a href ="/book/delete?id=@item.Id">Удалить</a>
                        <a href="/book/editbook?id=@item.Id">Редактировать</a>                                          
                    </div>
                </div>
            </div>
        }
    </div>

    <div>
        
        <a href="/book/add">Add a book</a>
    </div>

</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
